@{
    ViewData["Title"] = "Index";
}

<h2 class="fw-bold">
    <span class="text-primary">Felipe </span>
    <span class="text-warning">eh </span>
    <span class="text-danger">corno</span>
</h2>
<p class="text-danger">Olá do nosso template de View</p>